<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myottapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.example.myottapp.Service.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_banner"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyOTTApp">
        <activity
            android:name="com.example.myottapp.UI.LaunchActivity"
            android:banner="@mipmap/ic_banner"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_banner"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myottapp.UI.LoginActivity"/>
        <activity android:name="com.example.myottapp.UI.TokenRefresherActivity"/>
        <activity android:name="com.example.myottapp.UI.SeriesActivity" />
        <activity android:name="com.example.myottapp.UI.MovieActivity"/>
        <activity android:name="com.example.myottapp.UI.LanguageActivity" />
        <activity android:name="com.example.myottapp.UI.SearchActivity" />
        <activity android:name="com.example.myottapp.UI.BrowseErrorActivity" />
        <activity android:name="com.example.myottapp.UI.DetailsActivity" />
        <activity android:name="com.example.myottapp.UI.PlayerActivity" />
        <activity android:name="com.example.myottapp.UI.MainActivity" />
        <activity android:name="com.example.myottapp.UI.SettingActivity" />
        <activity android:name="com.example.myottapp.UI.DetailsActivitySeries" />
    </application>

</manifest>